<form>
    <p><b>Personagem:</b> {{personagem}}</p>
    <div class="form-group">
        <label><b>Selecione o Atributo:</b></label>
        <select name="atributo">
        {{#select atributo}}
        {{#each atributos as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
    </br>
    <div style="width: 100%; display: flex; font-weight: bold; padding-bottom: 10px;">
        <label style="justify-content: center; width: 50%; align-items: center; display: flex;"><input type="radio" name="testtype" value="saves" data-dtype="Radio" checked="checked"> {{localize "DND5E.ActionSave"}}</label>
        <label style="justify-content: center; width: 50%; align-items: center; display: flex;"><input type="radio" name="testtype" value="ability" data-dtype="Radio"> {{localize "DND5E.ActionAbil"}}</label>
	</div>
</br>
</form>