<form>
    <p><b>Personagem:</b> {{personagem}}</p>
    <div class="form-group">
        <label><b>Selecione o Atributo:</b></label>
        <select name="pericia">
        {{#select pericia}}
        {{#each pericias as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
</br>
</form>